@font-face{
    font-family: Lolita;
    src: url('../fonts/A_Lolita_Scorned.ttf');
}
@font-face{
    font-family: Agatha;
    src: url('../fonts/Agatha-Modern.ttf');
}
.leftalign{
    font-size:30px; text-align:left; font-family: "Agatha", "Lolita";
}

body {
    background: url("../images/orlando2.jpg") no-repeat center center fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%; 
    margin: 0 auto; 
}

#wrapper{
    margin: 10px;  
    width: 95%;     
}

nav{
 margin: 15px 5px;
}

ul li{
display: inline-block;
list-style: none;
margin-left: 3px;
padding: 15px;
font-family: Lolita;
font-size: 30px;
text-align: center;
}

nav > ul > li > ul > li {
    margin-top: 2%;
    display: none;
    
}

ul > li > a,
nav > ul > li > ul > li > a {
    text-decoration: none;
    font-family: Lolita;
    font-size: 1.2em;
    color: lightblue;
    text-align: left;
}


nav > ul > li > ul > li:hover > a,
nav > ul > li > ul > li:active > a  {
    color: #FFF;
}

nav > ul > li > ul > li {
    margin-top: 13px;
    display: none;
    padding: 0px;
}

nav > ul > li:hover ul {
    position: absolute;
    transition: 2s;
}

nav > ul > li:hover ul > li {
    display: block;
    text-align: left;
}
.left:hover,
.left:active{
     color: pink;
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}
 
.right:hover,
.right:active {
    color: orange;
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}

.bio{
    margin-top: 40px;
}


h1 {    
    font-family: Agatha;
    font-size: 4em;
    color: gold;
    text-align: center;

}

.djo{
    margin-top: 45px;
    width: 350px;
    height: 800px;
    border: 1px solid blue;
    float: left;
}
.mo{
    margin-top: 45px;
    margin-left: 350px;
    height: 800px;
    width: 850px;
    border: 1px solid blue;
}
.ejko{
    padding: 35px;
    margin: 5px;  
    height: 0;
    transition: all 1s;
    background-color: pink;
    border: 1px solid red;
    font-family: Agatha;
   
 }
 .ejko-bejko{

    background-image: url('../images/orlando.jpg');  
 }

.bejko{
    background-color: transparent;
    height: 400px;    
    border: 1px solid red; 
}


@media only screen and (max-width:1600px) {

}

@media only screen and (max-width:1024px) {

}

@media only screen and (max-width:960px) {

}

@media only screen and (max-width:768px) {

}

@media only screen and (max-width:640px) {

}

@media only screen and (max-width:480px) {

}

@media only screen and (max-width:320px) {

}